/* Your CSS styles here */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
}

.input-fields {
    margin-bottom: 20px;
}

.input-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-field input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

input[type="text"]::placeholder {
    color: #ccc;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    flex: 1;
    padding: 10px 20px;
    margin-right: 10px;
}

button:last-child {
    margin-right: 0;
}

button#sendData {
    display: none;
}

#fieldsContainer {
    margin-top: 10px;
}
